h1 {
    padding-bottom: 5rem;
    text-align: center;
}

.card-container {
    display: flex;
    flex: 1 0 auto;
  }
  
  .card-custom {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  .card-img-custom {
    height: 250px;
    object-fit: cover;
    width: 100%;
  }
  
  .card-body-custom {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .card-body-custom {
    padding: 1rem;
  }
  
  .card-title, .card-text {
    text-align: center;
    margin: 0 auto;
    width: 100%;
  }

  
  